<div>
  @if (error) {
  <div class="error-message">
    <p>Error: {{ error }}</p>
  </div>
  } @if (!(error) && !(data$ | async)?.length && !(isLoading)) {
  <div>
    <p class="error-message">No data available.</p>
  </div>
  } @if ((isLoading) && !(error)) {
  <app-loading-spinner />
  } @if (!(error) && (data$ | async); as data) {
  <div>
    @if (data.length > 0) {
    <section class="container content">
      @for (item of data; track $index) {
      <div>
        @if (item.links && item.data[0]) {
        <article class="tile">
          <h2>{{ item.data[0].title }}</h2>
          <img [src]="item.links[0].href" />

          @if (item.data[0].description) {
          <div class="tile-summary">
            <p>
              {{ item.data[0].description }}
            </p>
          </div>
          }
          <div class="tile-summary">
            @if (item.data[0].center) {
            <p>Center: {{ item.data[0].center }}</p>
            } @if (item.data[0].photographer) {
            <p>Photographer: {{ item.data[0].photographer }}</p>
            } @if (item.data[0].location) {
            <p>Location: {{ item.data[0].location }}</p>
            } @if (item.data[0].date_created) { }
          </div>
          <p>
            {{ item.data[0].date_created | dateFormat }}
          </p>
        </article>

        }
      </div>
      }
      <app-pagination
        [currentPage]="currentPage"
        [displayItemsPerPage]="true"
        [totalItems]="totalItems"
        [selectedItemsPerPage]="itemsPerPage"
        (pageChanged)="onPageChanged($event)"
        (itemsPerPageChanged)="onItemsPerPageChanged($event)"
      />
    </section>
    }
  </div>
  }
</div>
