<div>
  @if (error) {
  <div class="error-message">
    <p>Error: {{ error }}</p>
  </div>
  } @if (!(error) && !(data$ | async)?.length && !(isLoading)) {
  <div class="error-message">
    <p>No data available.</p>
  </div>
  } @if ((isLoading) && !(error)) {
  <app-loading-spinner />
  } @if (!(error) && (data$ | async); as data) {
  <div>
    @if (data.length > 0) {
    <section class="container content">
      @for (item of data; track $index) { @if (item.img_src && item.sol &&
      item.camera && item.rover) {
      <article class="tile">
        <div class="tile-content">
          <div class="text-content">
            <p class="sol">Sol: {{ item.sol }}</p>
            <div class="tile-head">
              <h3>Camera name: {{ item.camera.name }}</h3>
              <p>Full name: {{ item.camera.full_name }}</p>
            </div>
            <div class="tile-summary">
              <h3>{{ item.rover.name }}</h3>
              <p>Launch date: {{ item.rover.launch_date }}</p>
              <p>Landing date: {{ item.rover.landing_date }}</p>
              <p>Last Martian day (sol) with photo data: {{ maxSol }}</p>
              <p>Last Earth day with photo data: {{ maxDate }}</p>
              <p>Rover's mission status: {{ item.rover.status }}</p>
            </div>
            <p>Earth date of picture: {{ item.earth_date | dateFormat }}</p>
          </div>
          <img [src]="item.img_src" />
        </div>
      </article>
      } }
    </section>

    @if (paginationEnabled) {
    <app-pagination
      [selectedItemsPerPage]="1"
      [currentPage]="currentSol"
      [displayItemsPerPage]="false"
      [totalItems]="maxSol"
      (pageChanged)="onPageChanged($event)"
    />
    } }
  </div>
  }
</div>
